.errorList {
  overflow: scroll;
  height: 0;
  margin: 0 20px;
  text-align: center;
  background: #3b444c;
  color: #fff;
  box-shadow: 1px 1px 8px #000;
  border-radius: 10px;
  padding: 10px;
  opacity: 0;
  transition: opacity 1s ease-in, height 1.5s ease-in;

  &.show {
    height: calc(100% - 179px);
    opacity: 1;
  }

  p {
    color: #fff;
    font-family: arial, helvetica, clean, sans-serif;
    font-size: 16px;
    cursor: default;
    line-height: 25px;

    &.report-title {
      font-weight: bold;
      font-size: 25px;
      line-height: 40px;
    }

    &.counter {
      line-height: 40px;
    }
  }
}
